@tailwind base;
@tailwind components;
@tailwind utilities;

br{
  display: none;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 18px;
      height: 18px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 0;
      background: #3A3B3C;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #4D4E4F;
      border-radius: 0;
      
    }

    .scrollbar::-webkit-scrollbar-button {
      background: #3A3B3C;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #525758;
    }

    .scrollbarCustom::-webkit-scrollbar {
      width: 8px;
    }

    .scrollbarCustom::-webkit-scrollbar-track{
      border-radius: 0;
      background: transparent;
    }

    .scrollbarCustom::-webkit-scrollbar-track:hover{
      border-radius: 0;
      background: #242526;
      animation-duration: 200ms;
    }

    
    
    .scrollbarCustom::-webkit-scrollbar-thumb {
      background: #4D4E4F;
      border-radius: 50px;
    } 

  }

